<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      BestifyYourTime<mat-icon>watch_later</mat-icon>
    </a>
  
    <button class="navbar-toggler" type="button"
            (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
    <div class="collapse navbar-collapse"
         [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
         <li class="nav-item" [hidden]='!isLogin'>
          <a routerLink="/dashboard" class="nav-link">Dashboard</a>
          
         </li>
    
         <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/aboutUs">About Us</a>
         </li> 
         <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/contact">Contact Us</a>
         </li> 
      
         <li class="nav-item" [hidden]='isLogin'>
          <a class="nav-link" href="#" routerLink="/signUp" >Registration</a>
      </li>
      <li class="nav-item" [hidden]='isLogin'>
        <a class="nav-link" href="#" routerLink="/login">Login</a>
       </li> 
         <li class="nav-item" [hidden]='!isLogin'>
          <a class="nav-link" href="#" (click)="logout()" >Logout</a>
         </li>  
      </ul>
    </div>
  </nav>