  
.chartblock{
    display: block;
    canvas{
    background-color:white;
     opacity: 0.8;
}
}
.user{
    width: 100vw;
}
h3{
    background-color: white;
    opacity: 0.8;
  text-align: center;
}

.scoreTable
{
  background-color: white;
}