
<h1 >Incomplete Quizes</h1>

<div class="row text-center">
 
    
    <div *ngFor="let quize of quizList" class="col-sm-4">
 
      <form>
        <div class="card">
          <div class="card-body">
         
          <h4  id="quizname"  name="quizname" class="card-title ">
            {{quize.quizst.quizname}}
          </h4>
          <a class="btn btn-success" (click)="quizeRounting(quize.quizeId)">Attempt Quiz</a>
        </div>
      </div>
      </form>
    </div>
  </div>
  <router-outlet></router-outlet>

  <h1>Attempted Quizes</h1>
  <div class="row text-center">
  
    
    <table class="table table-striped  table-danger">
      <thead>
        <tr>
         
          <th scope="col">Quize</th>
          <th scope="col">Score</th>
         
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let list of completeQuizList">
         
          <td>{{list.quizes.quizname}}</td>
          <td>{{list.score}}</td>
         
        </tr>
        
      </tbody>
    </table>



</div>
  <router-outlet></router-outlet>
  
