<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <h1>Forget Password</h1>
          <hr />
          <div class="signup-form">
    <form [formGroup]="updatePassword" (ngSubmit)="passwordUpdate()">
      <div class="form-group">
        <div class="form-row">
            <div class="col-md-4">
                <label>E-Mail <span class="error">*</span></label>
            </div>
            <div class="col-md-8">
                <input formControlName="email" class="form-control" placeholder="Enter email ID" />
                <small class="error alert-danger" *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
                    <div *ngIf="f.email.hasError('required')">This field is required.</div>
                    <div *ngIf="f.email.hasError('email')">Enter valid email address.</div>
                </small>
            </div>
        </div>
    </div>
    <div class="form-group">
      <div class="form-row">
          <div class="col-md-4">
              <label>Password <span class="error">*</span></label>
          </div>
          <div class="col-md-8">
              <input formControlName="password" type="password" class="form-control" placeholder="Enter the password"/>
              <small class="error alert-danger" *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
                  <div *ngIf="f.password.hasError('required')">This field is required.</div>
                  <div *ngIf="f.password.invalid">
                    Password should be at least 8 characters long 
                   ,
                    one Alphabet character and
                     one special character.
                </div>
              </small>
          </div>
      </div>
  </div>
  <div class="form-group">
      <div class="form-row">
          <div class="col-md-4">
              <label>Confirm Password <span class="error">*</span> </label>
          </div>
          <div class="col-md-8">
              <input formControlName="passconf" type="password" class="form-control" placeholder="Re-enter the password"/>
              <small class="error" *ngIf="f.passconf.invalid && (f.passconf.dirty || f.passconf.touched)">
                  <div *ngIf="f.passconf.hasError('required')">This field is required.</div>
              </small>
              <small class="error" *ngIf="updatePassword.errors?.passwordmatch && (updatePassword.dirty || updatePassword.touched)">
                  Password and confirm password must be match.
              </small>
          </div>
      </div>
  </div>
  <div class="form-group">
    <div class="form-row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <button type="submit" [disabled]="updatePassword.invalid" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-md-4">
            <button type="reset" class="btn btn-danger" [disabled]="updatePassword.invalid">Reset</button>
        </div>
    </div>
</div>
</form>
</div>
</div>
</div>
</div>