  <div class="row">
    <div
      class="col-sm-4"
      *ngFor="let cat of categories; let i = index"
      [class.active]="i == currentIndex"
      (click)="setActiveTutorial(cat, i)"
    >
    
    <form>
      <div class="card">
        <div class="card-body">
      <a routerLink="/dashboard/bt/{{ cat.id }}">
       <h2 class="card-title"> {{ cat.category }}</h2>
       <img class="card-img-bottom" src="/assets/images/book{{i}}.jpg" alt="Card image" style="width:100%">
       
      </a>
    </div>
  </div>
  </form>
</div>
 </div>
    <router-outlet></router-outlet>
 