<footer>
    <div class="container">
      <div class="row">
             <div class="col-md-4 footer-column">
          <ul class="nav flex-column">
            <li class="nav-item">
              <span class="footer-title">Company</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/contact">Contact us</a>
            </li>
            
          </ul>
        </div>
        <div class="col-md-4 footer-column">
          <ul class="nav flex-column">
            <li class="nav-item">
              <span class="footer-title">Contact & Support</span>
            </li>
            <li class="nav-item">
              <span class="nav-link"><mat-icon> call</mat-icon>+91 8989898787</span>
            </li>
            
            <li class="nav-item">
              <a class="nav-link"  routerLink="/contact">Contact us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"   routerLink="/contact"><em class="fas fa-star"></em>Give feedback</a>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="text-center"><em class="fas fa-ellipsis-h"></em></div>
      
      <div class="row text-center">
        <div class="col-md-4 box">
          <span class="copyright quick-links">Copyright &copy; www.g3Projects.in 2020
          </span>
        </div>
        <div class="col-md-4 box">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
              <em class="fab fa-twitter"></em>
            </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
              <em class="fab fa-facebook-f"></em>
            </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
              <em class="fab fa-linkedin-in"></em>
            </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 box">
          <ul class="list-inline quick-links">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>