<div id="About" class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>G3 Project's</h2><br>
        <h3><b><i>Getting Bored ??</i></b></h3><br>
        <p>Are you getting bored, come let's utilize your precious time in our website. We
            grant that this time will not be your time waste. Instead of that this time will
            teach  you a new lessons and improve your logical Thinking. In this website,
            we provide you with lots of variety of MCQ's question and also Descriptive type of
            question also brain teaser type of question which will help to improve your  
            logical thinking. 
                Also there is a game section which will help to relief your tension.
        </p>
        
      </div>

    </div>
  </div>
<div class="container bg-grey">
    <div class="row">
      
      <div class="col-sm-12">
        <h2 class="text-center">Our Values</h2><br>
        <h4><strong>MISSION:</strong> <br>Our mission is to make you bore free. This website is specially designed to make you relax from your daily routine work. </h4><br>
        <p><strong>VISION:</strong> <br>Our vision is to Keep the customer at the center of all we do.
          Operating assets and executing projects at benchmark level through technology & innovation.
          Sustainable growth with a focus on profitability and market leadership.
          Creating an empowered workforce driven by passion & purpose.
          'Leadership with Care' for all stakeholders.</p>
      </div>
    </div>
  </div>
  <app-ourteam></app-ourteam>