<!-- First Card -->
<div class="row">
<div class="card justify-content-center">
  <img class="card-img-top" src="../../../assets/images/games.png" alt="Card image cap">
  <div class="card-body">
    <h3 class="card-title text-center"><strong><em>Games</em></strong></h3>
    <p class="card-text">Play games from the wide variety of collections avaolable in out sites.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Stone Paper Scissores</li>
    <li class="list-group-item">Planet</li>
    <li class="list-group-item">2048</li>
    
  </ul>
  <div class="card-body">
    <a routerLink="/dashboard/games" class="card-link">Play Games</a>
    
  </div>
</div>



<!-- Second Card -->
<div class="card justify-content-center">
  <img class="card-img-top" src="../../../assets/images/quiz.jpg" alt="Card image cap">
  <div class="card-body">
    <h3 class="card-title text-center"><strong><em>Quiz</em></strong></h3>
    <p class="card-text">Are you ready to explore the wide variety of quiz.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">General Knowledge</li>
    <li class="list-group-item">Brain Teaser</li>
    <li class="list-group-item">Logical Thinking</li>
  </ul>
  <div class="card-body">
    <a routerLink="/dashboard/categories" class="card-link">Play Quiz</a>
  </div>
</div>
</div>